:root {
  --jumbotron-padding-y: 3rem;
  --clr-black: black;
  --clr-hover: #a5c882;
}

.jumbotron {
  background-color: white;
  /* border: 1px solid #333; */
  padding: 20px 20px 20px 20px;
  display: inline-block;
  width: 100%;
}

.jumbotron p:last-child {
  margin-bottom: 0px;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

html,
body {
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
}

#progbar1 {
  max-width: 200px;
  max-height: 200px;
  /* border: 1px solid #333; */
}
#progbar2 {
  max-width: 200px;
  max-height: 200px;
  /* border: 1px solid #333; */
}

/* Progbar smartphones (portrait) ----------- */
@media only screen and (max-width: 375px) {
  div#progbar1 {
    width: 160px;
    height: 160px;
  }

  div#progbar2 {
    width: 160px;
    height: 160px;
  }
}

#counterbar1 {
  text-align: center;
  margin-top: 10px;
  /* margin-left: 20px; */
  font-size: 1.4rem;
}

#counterbar2 {
  text-align: center;
  margin-top: 10px;
  /* margin-left: 20px; */
  font-size: 1.4rem;
}

#counterbar1sub {
  text-align: center;
  /* margin-left: 20px; */
  font-size: 1rem;
  color: gray;
}

#counterbar2sub {
  text-align: center;
  /* margin-left: 20px; */
  font-size: 1rem;
  color: gray;
}

#chartBox {
  text-align: center;
}

#myChart {
  text-align: center;
  position: relative;
  margin: auto;
  width: 100% !important;
  max-width: 470px;
  min-width: 370px;
  height: auto !important;
}

#navTitle {
  font-family: "montserrat", sans-serif !important;
  font-size: 1.4rem;
}
#settingsIcon {
  margin-bottom: 3px;
}

#val1Icon {
  margin-bottom: 2px;
}

#val2Icon {
  margin-bottom: 2px;
}

#val3Icon {
  margin-bottom: 2px;
}

#val4Icon {
  margin-bottom: 2px;
}

#val3 {
  font-size: 25px;
  line-height: 10px;
}

#val4 {
  font-size: 25px;
  line-height: 10px;
}

#latencyDiv {
  margin-top: 2px;
  line-height: 4px;
}

#jitterDiv {
  line-height: 4px;
}

#jitterLabel {
  margin-right: 15px;
  margin-bottom: -5px;
}

#latencyLabel {
  margin-right: 15px;
  margin-bottom: -5px;
}

#latePacketLabel {
  margin-bottom: -10px;
}

#packetLossLabel {
  margin-bottom: -10px;
}

#percSymbol {
  margin-left: 4px;
  font-size: 25px;
}

#endContainer {
  margin-top: 20px;
  /* border: 1px solid #333; */
}

#engineContainer {
  /* border: 1px solid #333; */
}

#resultContainer {
  /* border: 1px solid #333; */
}

/* settings box is covered by an element when close to go button */
#settingsButtonContainer {
  margin-top: 0px;
  /* border: 1px solid #333; */
}

.col-sm-1 {
  text-align: center;
  /* border: 1px solid red; */
}

.col-xs-4 {
  /* border: 1px solid red; */
}

.col {
  text-align: center;
  /* border: 1px solid red; */
}

.col-auto {
  text-align: center;
  /* border: 1px solid red; */
}

.col-fluid {
  text-align: center;
  /* border: 1px solid red; */
}

/* #bar1Column {
  margin-right: 2%;
}

#bar2Column {
  margin-left: 2%;
} */

/* #barRow {
  border: 1px solid blue;
}

#resultRow {
  border: 1px solid blue;
}

#endRow {
  border: 1px solid blue;
} */

#endRow {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}

#endResult1 {
  color: #a5c882;
  font-weight: 100;
  font-size: 2rem;
}

#endResult2 {
  font-weight: 300;
  font-size: 1.4rem;
}

#endResult3 {
  font-weight: 300;
  font-size: 1.4rem;
}

#endResult2sub {
  font-family: "Helvetica Neue", sans-serif !important;
  font-weight: 100;
  font-size: 1rem;
  color: gray;
}

#endResult3sub {
  font-family: "Helvetica Neue", sans-serif !important;
  font-weight: 100;
  font-size: 1rem;
  color: gray;
}

/* #toolbar1 {
  margin-top: 20px;
  margin-left: 70px;
}

#toolbar2 {
  margin-left: 85px;
} */

#settings-footer {
  margin-top: 40px;
}

#toolbarLabel1 {
  font-family: "Helvetica Neue", sans-serif !important;
  font-weight: 100;
  font-size: 1rem;
  color: gray;
  margin-top: 5px;
}

#toolbarLabel2 {
  font-family: "Helvetica Neue", sans-serif !important;
  font-weight: 100;
  font-size: 1rem;
  color: gray;
  margin-top: 6px;
}

#toolbarLabel3 {
  font-family: "Helvetica Neue", sans-serif !important;
  font-weight: 100;
  font-size: 1rem;
  color: gray;
  margin-top: 6px;
}

#modalInfoButton {
  background-color: #b3e5fc;
  border-color: #b3e5fc;
  color: #0c5460;
}

#infoAlert {
  background-color: #b3e5fc;
}

#mosLabel {
  font-size: 20px;
}

#resultText {
  font-size: 18px;
}

#mosResultA {
  color: #a5c882;
  font-size: 20px;
}

#mosResultB {
  color: #689f38;
  font-size: 20px;
}

#mosResultC {
  color: #fbc02d;
  font-size: 20px;
}

#mosResultD {
  color: #fb8c00;
  font-size: 20px;
}

#mosResultF {
  color: #f4511e;
  font-size: 20px;
}

#gradeModalResultA {
  color: #a5c882;
  font-weight: 100;
  font-size: 2rem;
}

#gradeModalResultB {
  color: #689f38;
  font-weight: 100;
  font-size: 2rem;
}

#gradeModalResultC {
  color: #fbc02d;
  font-weight: 100;
  font-size: 2rem;
}

#gradeModalResultD {
  color: #fb8c00;
  font-weight: 100;
  font-size: 2rem;
}
#gradeModalResultF {
  color: #f4511e;
  font-weight: 100;
  font-size: 2rem;
}

.pulsingButton {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  box-shadow: 0 0 0 0 #b3e5fc;
  border-radius: 50%;
  border: 1px solid lightgray;
  background-color: white;
  color: lightgray;
  -webkit-animation: pulsing 3s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 3s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 3s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 3s infinite cubic-bezier(0.66, 0, 0, 1);
  font-size: 45px;
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}

.pulsingButtonResult {
  position: relative;
  left: 0;
  right: 0;
  margin-left: 2%;
  margin-right: auto;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 0 0 0 #b3e5fc;
  border-radius: 50%;
  border: 1px solid lightgray;
  background-color: white;
  color: lightgray;
  -webkit-animation: pulsing 3s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 3s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 3s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 3s infinite cubic-bezier(0.66, 0, 0, 1);
  font-size: 32px;
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}

.gradeCircleResult {
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 2%;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  white-space: nowrap;
  border-radius: 50%;
  border: 1px solid #a5c882;
  background-color: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  color: #a5c882;
  font-size: 45px;
  /* font-weight: bold; */
  font-family: sans-serif;
  text-decoration: none !important;
}

/* Comment-out to have the button continue to pulse on mouseover */

a.pulsingButton:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: grey;
}
a.pulsingButtonResult:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: grey;
}

a.gradeCircleResult:hover {
  color: white !important;
  background-color: var(--clr-hover);
  box-shadow: 0px 10px 15px lightgrey;
  transform: translateY(-3px);
}

/* Animation */
@-webkit-keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}
@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}
